html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2em;
  padding-top: 1em;
}

h1, h2,h3 {
  font-weight: 400;
}

a {
    text-decoration: none;
}

.day {
  display: flex;
  flex-direction: row;
}

#key p{
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
}

.food_station {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 150px;
}

.course {
  padding: 10px;
  border-top: 1px solid #CCC;
}

/*COLOR CODING*/
.veggie {
  background-color: #a5ffb7;
}

.gf {
  background-color: #a5c7ff;
}

.veggie_gf {
  background-color: #c1c1c1;
}

.closed {
    background-color: #ed5c5c;
}

/*RESPONSIVE DESIGN*/
@media screen and (min-width: 1046px) {
    
    .place {
      height: 2.5em;
      font-size: 1.25em;  
    }
    
    h1, h2, h3 {
        margin-bottom: -.1em;
    }
    
}

@media screen and (max-width: 1046px) {
    
  body {
    width:100%;
    text-align: center;
  }
    
  h2 {
    padding-top: .5em;
    margin-bottom: -.2em;
  }

  .day {
    flex-direction: column;
    text-align: center;
  }

  .food_station {
    margin-left:auto;
        margin-right:auto;
        width:90%;
        max-width: 300px;
  }

}
