html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1em;
}

h1 {
  font-weight: 400;
}

h2 {
  margin-bottom: -.3em;
  font-weight: 400;
}

.place {
  height: 3em;
}

.day {
  display: flex;
  flex-direction: row;
}

.food_station {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 150px;
}

.course {
  padding: 10px;
  border-top: 1px solid #CCC;
}

.veggie {
  background-color: #a5ffb7;
}

.gf {
  background-color: #a5c7ff;
}

.veggie_gf {
  background-color: #c1c1c1;
}

@media screen and (max-width: 1046px) {
  body {
    width:100%;
    text-align: center;
  }

  h2 {
    padding-top: .5em;
    padding-bottom: 1em;
  }

  .day {
    flex-direction: column;
    text-align: center;
  }

  .food_station {
    margin-left:auto;
        margin-right:auto;
        width:90%;
        max-width: 300px;
  }

}
